# Translation

## Import zone

In [2]:
import pandas as pd
from mtranslate import translate
import pickle
import plotly.plotly as py
import plotly
plotly.tools.set_credentials_file(username='wannita', api_key='3Ghya98U2uprmZoiZvX8')
from gensim import corpora

C:\Users\sociocom\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning:

detected Windows; aliasing chunkize to chunkize_serial

## Function zone

In [3]:
def trans_to_en(word):
    translate(word,'en')

In [1]:
def save_obj(file, obj):
    with open(file, 'wb') as f:
        pickle.dump(obj, f)

def load_obj(file):
    with open(file, 'rb') as f:
        return pickle.load(f)

In [4]:
path = r'C:\Users\sociocom\Desktop\Crawler\backup\31May-4June 2018'

In [5]:
def open_to_pandas(spath):
    tweets = open(path + spath, "r", encoding="utf-8")
    tweets_list = []
    for line in tweets:
        tweets_list.append(line.split('\t'))
    labels = ['acc_id','acc','tweet_id','text','created_time','ex_lat','ex_long','place','lot_sw','lot_ne','tweet_reply_id','tweet_reply_user_id','tweet_reply_username','lang']
    name = pd.DataFrame(tweets_list,columns=labels)
    filt = ((name["lang"] == "th\n") | (name["lang"] == "en\n") | (name["lang"] == "ja\n") | (name["lang"] == "de\n") | (name["lang"] == "pt\n"))
    name = name[filt]
    name['lang'] = name['lang'].apply(lambda x: x.strip())
    print("all data :" ,len(name), "tweets")
    return name

## Data zone

In [6]:
df_bkk = open_to_pandas("\BKK_th-en_tweets.txt")
df_kyt = open_to_pandas("\KYT_ja-en_tweets.txt")
df_ham = open_to_pandas("\HAM_de-en_tweets.txt")
df_spl = open_to_pandas("\SPL_pt-en_tweets.txt")
df_sfc = open_to_pandas("\SFC_en_tweets.txt")

all data : 37095 tweets
all data : 34869 tweets
all data : 6835 tweets
all data : 121964 tweets
all data : 68534 tweets

In [7]:
df_bkk.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,tweet_reply_id,tweet_reply_user_id,tweet_reply_username,lang
count,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095
unique,7501,7514,37095,36963,34861,1399,1390,169,103,101,8699,5330,5332,2
top,940194643748143104,BaekhyunneeExol,1002571117024796672,@MM_EXOL @B_hundred_Hyun @weareoneEXO I am so ...,2018-06-03 09:18:20,-1,-1,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",-1,-1,-1,th
freq,255,255,1,9,5,33985,33985,1855,3129,3129,27716,27313,27313,30186

In [8]:
df_kyt.head()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,tweet_reply_id,tweet_reply_user_id,tweet_reply_username,lang
0,979626877244489728,B_CLASS_LV,1001817573917364224,@rokonattuk メンツが濃かったわ,2018-05-30 13:28:17,-1,-1,京都市 中京区,"135.730513, 34.99342","135.779805, 35.018685",1001817447366840320,987313040281382912,rokonattuk,ja
1,2917764124,jnsg_0805,1001817576643624966,夏に関ジャニのライブに誘われたので 行く事になりまひたw 超久々っっっ！！！ すばる氏居らんけど…,2018-05-30 13:28:17,-1,-1,京都市 中京区,"135.730513, 34.99342","135.779805, 35.018685",-1,-1,-1,ja
2,968012405757247488,jihyo__614,1001817631173894145,@7NdOkP7T9URUGzD んー、いろいろ,2018-05-30 13:28:30,-1,-1,Japan,"122.904034, 24.013343","153.997697, 45.562897",1001817154583318528,981075437450219520,7NdOkP7T9URUGzD,ja
3,879622055259328513,makotty1008,1001817644738244610,@onikutomichoki は～い 一緒に応援しましょう ミスコン当日まで微力やけど風花...,2018-05-30 13:28:34,-1,-1,京都市 中京区,"135.730513, 34.99342","135.779805, 35.018685",1001813093331025921,972014359797891073,onikutomichoki,ja
4,874659432495435776,savanna3s_rx7,1001817680859553796,こいつも、小林はるかと変わんない…人を突き飛ばしやがって…聾唖だからって、許しはしない…JR...,2018-05-30 13:28:42,-1,-1,大阪,"135.091714, 34.271817","135.746799, 35.051352",-1,-1,-1,ja

## translating zone

In [ ]:
df_bkk['place'] = df_bkk['place'].apply(lambda x: translate(x,'en'))
df_bkk['text'] = df_bkk['text'].apply(lambda x: translate(x,'en'))

In [ ]:
save_obj('translated_bkk_tweet', df_bkk)

In [ ]:
df_kyt['place'] = df_kyt['place'].apply(lambda x: translate(x,'en'))
df_kyt['text'] = df_kyt['text'].apply(lambda x: translate(x,'en'))

In [ ]:
save_obj('translated_kyt_tweet', df_kyt)

In [9]:
df_ham['place'] = df_ham['place'].apply(lambda x: translate(x,'en'))
df_ham['text'] = df_ham['text'].apply(lambda x: translate(x,'en'))

In [10]:
save_obj('translated_ham_tweet', df_ham)

In [ ]:
df_spl['place'] = df_spl['place'].apply(lambda x: translate(x,'en'))
df_spl['text'] = df_spl['text'].apply(lambda x: translate(x,'en'))

In [ ]:
save_obj('translated_spl_tweet', df_spl)

## data

In [13]:
df_ham['text'][:20]

0     Police Düren - driver flung out of the car aft...
1     Police Neustadt bei Coburg - Without license o...
2     Police Gädheim - gelding with enigmatic neck i...
3     Polizeipräsidium Südosthessen - Offenbach - Pr...
4     Police Neustadt bei Coburg - Accident Exodus h...
5     Police Inspectorate Goslar - Motorcyclist coll...
6     Police Inspectorate Cloppenburg / Vechta - Pre...
7                         @ John Lennedy No, then not 😂
8     @ rainy day Okay, but: is the terminal at each...
9     @SH_Polizei Special thanks to the young police...
10    🙌🏻🙌🏻 @DizzyWright is coming to play Hamburg in...
11    Police Dé - Police Inspectorate https://t.co/x...
12    Police Freyung - Wood theft https://t.co/vdGPn...
13    Duisburg association "Zof" - Hilfeverein execu...
14    Police Perlesreut - Alcoholized with cars on t...
15    Police Dé - 94078 Freyung https://t.co/tWppG3WoT4
16    Hamburg - It's time !: Here is the Hamburg die...
17    Police Freyung - Police ensures small amount o...
18    @ rainy day The fourth? In Hamburg Hbf there a...
19    Hamburg - It's time !: Here is the Hamburg die...
Name: text, dtype: object

In [14]:
df_ham['text'][20]

'Police Inspectorate Cloppenburg / Vechta - Press releases for the Nordkreis https://t.co/OXS7VEauG1'

In [6]:
df_bkk = load_obj(path+"/translated_bkk_tweet")

In [7]:
df_bkk.head()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,tweet_reply_id,tweet_reply_user_id,tweet_reply_username,lang
0,137552452,ExpatDanBKK,1001726470962769920,"@David_Aamez Hmmm, I suspect Bill Heinecke wou...",2018-05-30 07:26:16,13.742844,100.5682602,Vadhana,"100.55007, 13.732979","100.570733, 13.74842",1001725702192824321,710742220681293824,David_Aamez,en
1,372674276,NeungBellerin,1001726500725456897,Walk through (@Sam Market Market (Wat Phra Kae...,2018-05-30 07:26:23,13.724922,100.52291,Suriya Wong,"100.516253, 13.72236","100.536283, 13.730574",-1,-1,-1,th
2,1030302462,opalopongpang,1001726547160690689,I'm at Penguin Eat Shabu in Vadhana https://t....,2018-05-30 07:26:34,13.7388373,100.56067598,Vadhana,"100.55007, 13.732979","100.570733, 13.74842",-1,-1,-1,en
3,953277866661199872,Poppysuphannee,1001726564550168576,And it's not going to be a school ride. I do n...,2018-05-30 07:26:38,-1,-1,Frown,"100.469033, 13.773245","100.49389, 13.789877",-1,-1,-1,th
4,399872095,StoneSoupBKK,1001726646599041024,@TheMossadIL F@$king morons.,2018-05-30 07:26:58,-1,-1,Phra Khanong Nuea,"100.584345, 13.704628","100.606727, 13.729193",1001701922074701824,774174489458331649,TheMossadIL,en

In [8]:
len(df_bkk)

37095

In [9]:
df_bkk.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,tweet_reply_id,tweet_reply_user_id,tweet_reply_username,lang
count,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095,37095
unique,7501,7514,37095,32641,34861,1399,1390,148,103,101,8699,5330,5332,2
top,940194643748143104,BaekhyunneeExol,1002925304682168321,I do not know what to do.,2018-06-03 09:18:20,-1,-1,Thailand,"100.528375, 13.72951","100.541027, 13.749708",-1,-1,-1,th
freq,255,255,1,476,5,33985,33985,2653,3129,3129,27716,27313,27313,30186