# Tweets in Bangkok (Siam to Grand Palace Area) visualization

lat-long: [100.484605,13.685780,100.584605,13.785780]

## Import zone

In [22]:
import pandas as pd
from mtranslate import translate
import pickle
import plotly.plotly as py
plotly.tools.set_credentials_file(username='wannita', api_key='3Ghya98U2uprmZoiZvX8')

## function zone

In [2]:
def trans_to_en(word):
    translate(word,'en')

In [3]:
def save_obj(file, obj):
    with open(file, 'wb') as f:
        pickle.dump(obj, f)

def load_obj(file, obj):
    with open(file, 'rb') as f:
        obj = pickle.load(f)

## Data zone

In [29]:
f = open('BKK_th-en_tweets_gamcom.txt','r',encoding='utf-8')

In [30]:
tweet_list = []
for line in f:
    tweet_list.append(line.split('\t'))

In [31]:
print(tweet_list[0])

['58872847', 'amp_cuband', '1001468679140270080', '@jjiab จริงค่ะ ส่วนตัวคิดว่าแบบนั้นดีแล้ว', '2018-05-29 14:21:54', '-1', '-1', 'Sathon', '100.508189, 13.700842', '100.553474, 13.725971', 'th\n']

In [32]:
labels = ['acc_id','acc','tweet_id','text','created_time','ex_lat','ex_long','place','lot_sw','lot_ne','lang']
tweet_df = pd.DataFrame(tweet_list,columns=labels)

In [33]:
tweet_df['lang'] = tweet_df['lang'].apply(lambda x: x.strip())

In [34]:
tweet_df.head()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
0,58872847,amp_cuband,1001468679140270080,@jjiab จริงค่ะ ส่วนตัวคิดว่าแบบนั้นดีแล้ว,2018-05-29 14:21:54,-1,-1,Sathon,"100.508189, 13.700842","100.553474, 13.725971",th
1,168438587,Porschephranot,1001468684752248834,@mju_zik ว่าไงจ๊ะ,2018-05-29 14:21:55,-1,-1,Rong Mueang,"100.515532, 13.735617","100.524483, 13.75308",th
2,260726562,mangokarn,1001468689105936384,@eyejaekris อร่อยยยยยย,2018-05-29 14:21:56,-1,-1,สาทร,"100.514643, 13.700842","100.537444, 13.715906",th
3,2668781561,__hxnxx,1001468699784634369,As much as I feel saddened by Ali Banats death...,2018-05-29 14:21:59,-1,-1,กรุงเทพมหานคร,"100.327737, 13.494097","100.938408, 13.955111",en
4,104415934,devoteraphar,1001468727756574720,"I'm at Police General Hospital in Pathum Wan, ...",2018-05-29 14:22:05,13.74321493,100.53976065,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en

In [35]:
tweet_df.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,2660,2660,2660,2660,2660,2660,2660,2660,2660,2660,2660
unique,1127,1128,2660,2659,2526,85,85,139,87,86,2
top,144851766,SiRiPALIT,1001510464306561024,หิว,2018-05-29 16:07:56,-1,-1,Myanmar,"97.343365, 5.612531","105.636107, 20.46519",th
freq,47,47,1,2,3,2553,2553,213,237,237,2147

In [36]:
tweet_df = tweet_df[tweet_df.place != 'Myanmar']
tweet_df.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,2447,2447,2447,2447,2447,2447,2447,2447,2447,2447,2447
unique,1066,1066,2447,2446,2330,80,80,138,86,85,2
top,144851766,SiRiPALIT,1001510464306561024,หิว,2018-05-29 15:14:50,-1,-1,ประเทศไทย,"97.343365, 5.612531","105.636107, 20.46519",th
freq,47,47,1,2,3,2353,2353,138,237,237,2144

## Translating zone

In [37]:
tweet_df['place'].unique()

array(['Sathon', 'Rong Mueang', 'สาทร', 'กรุงเทพมหานคร', 'Pathum Wan',
       'ประเทศไทย', 'วชิรพยาบาล', 'Thailand', 'รองเมือง', 'Lumphini',
       'ราชเทวี', 'Din Daeng', 'Bangkok Yai', 'ปทุมวัน', 'Phra Khanong',
       'Huai Khwang', 'คลองต้นไทร', 'ลุมพินี', 'Suriya Wong', 'Silom',
       'Bang Khlo', 'Khlong Tan Nuea', 'Ratchathewi', 'Khlong Toei',
       'Bangkok', 'พญาไท', 'Samsen Nok', 'Bang Pakok', 'คลองตันเหนือ',
       'Khlong Ton Sai', 'บางมด 1', 'บางพลัด', 'Yannawa', 'พระโขนงเหนือ',
       'วังใหม่', 'ถนนเพชรบุรี', 'ดินแดง', 'บางโพงพาง', 'พระโขนง',
       'Thanon Phaya Thai', 'Khlong San', 'Bang Bumru', 'Bukkhalo',
       'มักกะสัน', 'Wachira Phayaban', 'บางขุนพรหม', 'Phaya Thai',
       'Phra Khanong Nuea', 'สีลม', 'บางกอกใหญ่', 'Wang Mai',
       'Wat Phraya Krai', 'บางกะปิ', 'คลองสาน', 'Makkasan', 'ตลาดน้อย',
       'อ.พระประแดง', 'มหาพฤฒาราม', 'ดุสิต', 'Talat Noi', 'ห้วยขวาง',
       'Thung Maha Mek', 'Bang Phong Phang', 'วัดพระยาไกร', 'สามเสนนอก',
       'Ban Bat', 'Thanon Phetchaburi', 'บุคคโล', 'Vadhana', 'Si Phraya',
       'Chom Thong', 'Bang Lamphu Lang', 'ทุ่งมหาเมฆ',
       'Pom Prap Sattru Phai', 'Bangkok Noi', 'ถนนนครไชยศรี',
       'Bang Phlat', 'วัดราชบพิธ', 'Khlong Tan', 'Dao Khanong', 'วัฒนา',
       'Bang Kapi', 'ยานนาวา', 'ถนนพญาไท', 'Arun Amarin', 'บางยี่ขัน',
       'Bang Rak', 'Bang Khun Phrom', 'Thanon Nakhon Chai Si', 'สี่พระยา',
       'สุริยวงศ์', 'คลองเตย', 'บางลำภูล่าง', 'อรุณอมรินทร์',
       'Wang Burapha Phirom', 'บางโคล่', 'Samre', 'ราษฎร์บูรณะ', 'จอมทอง',
       'คลองตัน', 'Bang Mot 1', 'บางกอกน้อย', 'Talat Yot', 'บางกะเจ้า',
       'Si Yaek Maha Nak', 'สำเหร่', 'Phra Borom Maha Ratchawang',
       'Bang Kho Laem', 'Bang Yi Khan', 'Bowon Niwet', 'Dusit',
       'Maha Phruttharam', 'บางบำหรุ', 'Samran Rat', 'Wat Arun',
       'Ban Phan Thom', 'บางปะกอก', 'Samphanthawong', 'บางคอแหลม',
       'สมเด็จเจ้าพระยา', 'ดาวคะนอง', 'หิรัญรูจี', 'พระบรมมหาราชวัง',
       'Hiranruchi', 'Suan Chitlada', 'พระนคร', 'Wat Ratchabophit',
       'Wat Thep Sirin', 'คลองมหานาค', 'สวนจิตรลดา', 'Wat Kanlaya',
       'ป้อมปราบศัตรูพ่าย', 'บางรัก', 'Thon Buri', 'วัดอรุณ',
       'วัดกัลยาณ์', 'ธนบุรี', 'Wat Sam Phraya'], dtype=object)

In [41]:
print(translate('พระบรมมหาราชวัง','en'))

Grand Palace

In [52]:
#tweet_df['acc'] = tweet_df['acc'].apply(lambda x: translate(x,'en'))

In [50]:
#tweet_df['place'] = tweet_df['place'].apply(lambda x: translate(x,'en'))

In [51]:
#tweet_df['textt'] = tweet_df['text'].apply(lambda x: translate(x,'en'))

In [57]:
#save_obj('translated_tweet', tweet_df)

In [4]:
with open('translated_tweet','rb') as f:
    tweet_df = pickle.load(f)

In [5]:
tweet_df.head()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
0,58872847,amp_cuband,1001468679140270080,@jjiab I personally think that's fine.,2018-05-29 14:21:54,-1,-1,Sathon,"100.508189, 13.700842","100.553474, 13.725971",th
1,168438587,Porschephranot,1001468684752248834,@mj_zik,2018-05-29 14:21:55,-1,-1,Rong Mueang,"100.515532, 13.735617","100.524483, 13.75308",th
2,260726562,mangokarn,1001468689105936384,Thanks for sharing!,2018-05-29 14:21:56,-1,-1,Sathorn,"100.514643, 13.700842","100.537444, 13.715906",th
3,2668781561,__hxnxx,1001468699784634369,As much as I feel saddened by Ali Banats death...,2018-05-29 14:21:59,-1,-1,Bangkok,"100.327737, 13.494097","100.938408, 13.955111",en
4,104415934,devoteraphar,1001468727756574720,"I'm at Police General Hospital in Pathum Wan, ...",2018-05-29 14:22:05,13.74321493,100.53976065,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en

## clean some places

In [6]:
tweet_df['place'].value_counts()

Thailand                      237
Din Daeng                     161
Phra Khanong                  118
Ratchathewi                   114
Bangkok                       113
Phaya Thai                     65
Lumphini                       65
Sathorn                        58
Briefly                        53
Huai Khwang                    50
Phayathai                      49
Yannawa                        48
Khlong Toei                    47
Arun Amarin                    44
Bang Phlat                     42
North Klongton                 39
Makkasan                       35
Bangyikhan                     34
Khlong San                     33
Sathon                         32
Khlong Tan Nuea                31
Samsennok                      29
Chom Thong                     29
Rong Mueang                    29
Pathumwan                      28
Thanon Phaya Thai              27
windmill                       26
Khlong Ton Sai                 26
Wattana                        25
Vadhana                        25
                             ...
Ban Phan Thom                   4
Dao                             4
Bangpongpang                    4
Suriya Wong                     3
Suriyawongse                    3
Somdej Chao Phraya              3
Hiranruchi                      3
New Palace                      3
Wat Kanlaya                     3
Chitralada Garden               3
Thonburi                        2
Ratburana                       2
What Arun                       2
Khlong Mahanak                  2
Yaek Maha Nak                   2
Samran Rat                      2
Mahidol                         2
Virgin                          2
Grand Palace                    2
Phra Pradaeng                   2
Wat Thep Sirin                  1
Samphanthawong                  1
Arun temple                     1
Some                            1
Phra Borom Maha Ratchawang      1
Thon Buri                       1
Bang rak                        1
Wat Kalay                       1
capital                         1
Wat Sam Phraya                  1
Name: place, Length: 120, dtype: int64

In [7]:
tweet_df = tweet_df[tweet_df['place']!='Thailand']
tweet_df = tweet_df[tweet_df['place']!='Bangkok']

## check duplicated tweet_id

In [8]:
len(tweet_df['tweet_id']) == len(set(tweet_df['tweet_id']))

True

## Seperate languages

In [9]:
tweet_en = tweet_df[tweet_df.lang=='en']
tweet_th = tweet_df[tweet_df.lang=='th']

In [10]:
tweet_en.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,261,261,261,261,261,261,261,261,261,261,261
unique,170,170,261,261,259,55,54,67,58,57,1
top,983194539048480769,preshtawiah,1001510114841391104,@ForestG_103 No thanks. I’m good. #,2018-05-30 00:37:26,-1,-1,Khlong Toei,"100.55061, 13.697698","100.588204, 13.742692",en
freq,21,21,1,1,2,199,199,31,34,34,261

In [11]:
tweet_th.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
unique,746,746,1836,1639,1776,20,21,111,81,80,1
top,144851766,SiRiPALIT,1001517445985714176,I'm not sure what to say.,2018-05-29 15:19:24,-1,-1,Din Daeng,"100.54335, 13.755095","100.574668, 13.800937",th
freq,47,47,1,37,3,1813,1813,153,153,153,1836

## Looking at 4Square

In [12]:
tweet_df.text[4]

"I'm at Police General Hospital in Pathum Wan, Bangkok https://t.co/cnAdRvQGW8"

In [26]:
tweet_th['text'].apply(lambda x: "I'm at" in x).value_counts()

False    1828
True        8
Name: text, dtype: int64

In [27]:
tweet_th[tweet_th['text'].apply(lambda x: "I'm at" in x)]['text']

2046               I'm at Bangkok https://t.co/JAPtVh2Bp5
2060      I'm at Makkasan Railway https://t.co/dLC8qUNL04
2326    I'm at Mahaphant Building, 88th Birthday Anniv...
2384    I'm at a bloody rice pudding with seaweed w / ...
2430    I'm at rice, blood, pig, mushroom, seaweed w /...
2452    I'm at Chulalongkorn Hospital in Bangkok, Bang...
2493                                    I'm at Das Prada.
2572    I'm at home, kindheartedly https://t.co/xybHoI...
Name: text, dtype: object

In [28]:
tweet_en['text'].apply(lambda x: "I'm at" in x).value_counts()

False    217
True      44
Name: text, dtype: int64

In [30]:
tweet_en[tweet_en['text'].apply(lambda x: "I'm at" in x)]

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
4,104415934,devoteraphar,1001468727756574720,"I'm at Police General Hospital in Pathum Wan, ...",2018-05-29 14:22:05,13.74321493,100.53976065,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
217,598222879,_iikoz,1001478237875302401,I'm at stronghold boardgame cafe https://t.co/...,2018-05-29 14:59:53,13.74491403,100.53215337,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
221,157276617,mmld_m,1001478381899304960,I'm at Butcher Beef &amp; Beer in Bang Kho Lae...,2018-05-29 15:00:27,13.69879091,100.51455979,Bang Khlo,"100.500138, 13.682866","100.531434, 13.704877",en
265,89758986,NaShiOkTaec,1001480031032442880,I'm at Asiatique The Riverfront in Bang Kho La...,2018-05-29 15:07:00,13.70411744,100.50334978,Wat Phraya Krai,"100.49835, 13.697991","100.516901, 13.712301",en
276,2320624466,punchpcp,1001480356011311105,"I'm at K.S.RESIDENCE in Bang Phlat, Bangkok ht...",2018-05-29 15:08:18,13.78274,100.49873835,Bang Phlat,"100.465963, 13.780957","100.508459, 13.798111",en
368,63080652,krazyipod,1001482909574889472,"I'm at CTH Dormitory in Bangkok, Thailand http...",2018-05-29 15:18:26,13.68845919,100.62619198,Phra Khanong,"100.576163, 13.677903","100.640178, 13.724742",en
468,2184358957,phattra1812,1001485506608357377,I'm at Prime Sathorn Residence in Bangkok http...,2018-05-29 15:28:46,13.71634029,100.55774073,Klong Toey,"100.55061, 13.697698","100.588204, 13.742692",en
1125,707062476,Joanne_En,1001505386501898240,"I'm at @BigCThailand in Pathum Wan, Bangkok ht...",2018-05-29 16:47:45,13.7472484,100.54109565,Lumphini,"100.536283, 13.722444","100.552967, 13.749408",en
1445,211468644,MozilaMasia,1001516962680360960,I'm at Bar Next Door https://t.co/qNs1znDdnj,2018-05-29 17:33:45,13.75855423,100.49741175,Talat Yot,"100.494335, 13.757552","100.500201, 13.762796",en
1476,102634027,bamki_,1001518182128144387,"I'm at The Sense Pinklao in Bangkok Noi, Thail...",2018-05-29 17:38:36,13.7797706,100.47497591,Arun Amarin,"100.465972, 13.760036","100.490688, 13.78703",en
1627,477785456,DamienLZH,1001525457555283970,"I'm at Scratch Dog in Khlong Toei, Bangkok htt...",2018-05-29 18:07:31,13.73350538,100.56293312,Khlong Toei,"100.55061, 13.697698","100.588204, 13.742692",en
1792,15790253,lwmwmac,1001537615936487425,"I'm at The Street in Din Daeng, Bangkok https:...",2018-05-29 18:55:49,13.77010666,100.57216823,Din Daeng,"100.54335, 13.755095","100.574668, 13.800937",en
1985,15790253,lwmwmac,1001570960615591937,"I'm at Foodland in Din Daeng, Bangkok https://...",2018-05-29 21:08:19,13.77040313,100.57304658,Huai Khwang,"100.56464, 13.753718","100.588129, 13.789798",en
2042,141513427,padpaddpaddy,1001586647350300673,I'm at Bangkok Marriott Hotel The Surawongse i...,2018-05-29 22:10:39,13.72724613,100.52233911,Si Phraya,"100.515644, 13.725353","100.533532, 13.732782",en
2116,2910774666,kkodchaq,1001604030886531072,"I'm at Bang Phlat Intersection in Bang Phlat, ...",2018-05-29 23:19:44,13.78444036,100.49412989,Bang Phlat,"100.465963, 13.780957","100.508459, 13.798111",en
2137,2258665867,dadasyp,1001608149886029824,"I'm at Wattana Wittaya Academy in Vadhana, Ban...",2018-05-29 23:36:06,13.74398486,100.56050742,Vadhana,"100.55007, 13.732979","100.570733, 13.74842",en
2188,584739455,yellowwwwwwwx,1001612014446358529,"I'm at Rajinibon School in Dusit, Bangkok w / ...",2018-05-29 23:51:27,13.78964835,100.51393814,Nakornchaisri Road,"100.505727, 13.77412","100.537086, 13.800443",en
2192,620101494,poonimm__,1001612523517431808,"I'm at Wattana Wittaya Academy in Vadhana, Ban...",2018-05-29 23:53:29,13.74398486,100.56050742,Wattana,"100.55007, 13.732979","100.570733, 13.74842",en
2221,560301515,acsnamwan,1001615070173061121,"I'm at Victory Monument in Ratchathewi, Bangko...",2018-05-30 00:03:36,13.76497441,100.53830482,Phayathai Road,"100.531295, 13.749746","100.543326, 13.766056",en
2237,68664986,MrrTop,1001616327717470208,"I'm at Taksin Intersection in Thon Buri, Bangk...",2018-05-30 00:08:36,13.720675,100.491189,Briefly,"100.478441, 13.704859","100.491473, 13.721053",en
2247,255536162,tongongsa,1001616935224860672,I'm at BTS Pho Nimit - @bts_skytrain in Thon B...,2018-05-30 00:11:01,13.7192251,100.48575608,Briefly,"100.478441, 13.704859","100.491473, 13.721053",en
2266,16308249,You were,1001617727797317632,I'm at Y Rooms &amp; Spa in Khlong Toei https:...,2018-05-30 00:14:10,13.73259322,100.56064378,Khlong Toei,"100.55061, 13.697698","100.588204, 13.742692",en
2291,200525100,mookmooky_,1001619057890689026,I'm at BRT Thanon Chan - @bangkokbrt in Sathon...,2018-05-30 00:19:27,13.70464567,100.53888176,Thung Maha Mek,"100.530114, 13.704269","100.553474, 13.725971",en
2312,62997188,smarttimp,1001620589927391233,I'm at Embassy of the United States of America...,2018-05-30 00:25:32,13.73605007,100.54661751,Lumphini,"100.536283, 13.722444","100.552967, 13.749408",en
2316,3190928281,jjjanjcttt,1001620918878208000,"I'm at Assumption Convent School in Bang Rak, ...",2018-05-30 00:26:50,13.72324,100.51454,Bang rak,"100.512086, 13.71841","100.516643, 13.731772",en
2334,175026431,bnsrchx,1001621901675057152,"I'm at Rajavithi Hospital in Ratchathewi, Bang...",2018-05-30 00:30:45,13.76436159,100.53623922,Ratchathewi,"100.520724, 13.753536","100.538707, 13.774369",en
2340,261498918,bananaboatster,1001622059892596736,"I'm at Faculty of Education in Pathum Wan, Ban...",2018-05-30 00:31:22,13.73748902,100.52859802,Wang Mai,"100.521511, 13.732782","100.531115, 13.749813",en
2382,145077963,Z_TUNE,1001625137098182657,I'm at BDS Performance in Bangkok https://t.co...,2018-05-30 00:43:36,13.713416,100.584239,Phra Khanong,"100.576163, 13.677903","100.640178, 13.724742",en
2389,2791387965,pm_hzt,1001625558999019521,"I'm at BTS สยาม - @bts_skytrain in Pathum Wan,...",2018-05-30 00:45:17,13.74561689,100.5342341,Pathumwan,"100.528375, 13.72951","100.541027, 13.749708",en
2393,1030302462,opalopongpang,1001625761781112834,I'm at Vatel International Business School in ...,2018-05-30 00:46:05,13.72709463,100.5142647,Bang Rak,"100.512086, 13.71841","100.516643, 13.731772",en
2394,67541314,turkkonamomi,1001625813907902466,"I'm at Bank of Thailand in Bangrak, Bangkok ht...",2018-05-30 00:46:18,13.72845071,100.52919677,Suriya Wong,"100.516253, 13.72236","100.536283, 13.730574",en
2407,255536162,tongongsa,1001626769068298240,I'm at M.O.P | Art &amp; Design Studio in Bang...,2018-05-30 00:50:05,13.719436,100.484831,Thon Buri,"100.478599, 13.716808","100.493946, 13.727674",en
2410,255536162,tongongsa,1001626878824808449,"I'm at Freshdrinkcafe in Thapha, Bangkok https...",2018-05-30 00:50:31,13.719315,100.48484,Briefly,"100.478441, 13.704859","100.491473, 13.721053",en
2434,584739455,yellowwwwwwwx,1001628542130622464,I'm at M.6/8 art-social https://t.co/3e6Zkr5HVs,2018-05-30 00:57:08,13.78928145,100.51356668,Nakornchaisri Road,"100.505727, 13.77412","100.537086, 13.800443",en
2443,154150342,CHA_JJY,1001628999955763200,"I'm at Interchange 21 in Vadhana, Bangkok http...",2018-05-30 00:58:57,13.73658879,100.56174929,Vadhana,"100.55007, 13.732979","100.570733, 13.74842",en
2453,810745817526976512,Panya10299821,1001629359181099008,"I'm at Ploenchit Building in Pathum Wan, Bangk...",2018-05-30 01:00:23,13.7302767,100.53629416,Pathumwan,"100.528375, 13.72951","100.541027, 13.749708",en
2459,435791770,ployshawol,1001629774685622272,"I'm at Chartered Square Building in Bang Rak, ...",2018-05-30 01:02:02,13.71886218,100.51948145,windmill,"100.515024, 13.717902","100.544786, 13.72951",en
2532,255536162,tongongsa,1001633966502313989,"I'm at Starbucks in Pathum Wan, Bangkok https:...",2018-05-30 01:18:41,13.7460467,100.53353095,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
2536,255536162,tongongsa,1001634270623031302,"I'm at Lido in Pathum Wan, Bangkok https://t.c...",2018-05-30 01:19:54,13.74552739,100.53258609,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
2538,255536162,tongongsa,1001634403003568128,I'm at VRX - Ultimate VR Experience in Bangkok...,2018-05-30 01:20:25,13.74536715,100.53361416,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
2563,2320624466,punchpcp,1001635679598768129,I'm at วราภรณ์ (MANTOU PASSION) https://t.co/e...,2018-05-30 01:25:30,13.78248024,100.4989393,Bang Phlat,"100.465963, 13.780957","100.508459, 13.798111",en
2565,560301515,acsnamwan,1001635764625707009,I'm at วราภรณ์ (MANTOU PASSION) w/ @punchpcp h...,2018-05-30 01:25:50,13.78248024,100.4989393,Bang Phlat,"100.465963, 13.780957","100.508459, 13.798111",en
2646,71744947,boom13003,1001639453910274048,"I'm at Siam Square in Pathum Wan, Bangkok http...",2018-05-30 01:40:30,13.74470586,100.53304753,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
2659,173340206,biiwjung,1001639929875660801,I'm at Thailand Convention and Exhibition Bure...,2018-05-30 01:42:23,13.750126,100.530565,Thanon Phetchaburi,"100.519056, 13.749122","100.541069, 13.756919",en

In [13]:
test_pl = tweet_en[tweet_en['text'].apply(lambda x: "I'm at" in x)]
test_pl = tweet_en[tweet_en['ex_lat']!='-1']

In [14]:
test_pl.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,62,62,62,62,62,62,62,62,62,62,62
unique,45,45,62,62,62,54,53,36,32,32,1
top,255536162,tongongsa,1001606117372375041,I'm at Embassy of the United States of America...,2018-05-29 15:18:26,13.75,100.5,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
freq,6,6,1,1,1,5,5,7,9,9,62

## try plotting with plotly

In [16]:
df_airports = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')
df_airports.head()

,iata,airport,city,state,country,lat,long,cnt
0,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464,25129
1,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944,21925
2,DFW,Dallas-Fort Worth International,Dallas-Fort Worth,TX,USA,32.895951,-97.037200,20662
3,PHX,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434167,-112.008056,17290
4,DEN,Denver Intl,Denver,CO,USA,39.858408,-104.667002,13781

In [17]:
df_flight_paths = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_aa_flight_paths.csv')
df_flight_paths.head()

   start_lat  start_lon    end_lat     end_lon airline airport1 airport2  cnt
0  32.895951 -97.037200  35.040222 -106.609194      AA      DFW      ABQ  444
1  41.979595 -87.904464  30.194533  -97.669872      AA      ORD      AUS  166
2  32.895951 -97.037200  41.938874  -72.683228      AA      DFW      BDL  162
3  18.439417 -66.001833  41.938874  -72.683228      AA      SJU      BDL   56
4  32.895951 -97.037200  33.562943  -86.753550      AA      DFW      BHM  168

In [23]:
airports = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_airports['long'],
        lat = df_airports['lat'],
        hoverinfo = 'text',
        text = df_airports['airport'],
        mode = 'markers',
        marker = dict( 
            size=2, 
            color='rgb(245, 255, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
        
flight_paths = []
for i in range( len( df_flight_paths ) ):
    flight_paths.append(
        dict(
            type = 'scattergeo',
            locationmode = 'USA-states',
            lon = [ df_flight_paths['start_lon'][i], df_flight_paths['end_lon'][i] ],
            lat = [ df_flight_paths['start_lat'][i], df_flight_paths['end_lat'][i] ],
            mode = 'lines',
            line = dict(
                width = 1,
                color = 'green',
            ),
            opacity = float(df_flight_paths['cnt'][i])/float(df_flight_paths['cnt'].max()),
        )
    )
    
layout = dict(
        title = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
        showlegend = False, 
        geo = dict(
            scope='north america',
            projection=dict( type='azimuthal equal area' ),
            showland = True,
            landcolor = 'rgb(243, 243, 243)', #area
            countrycolor = 'rgb(150, 204, 204)', #border
        ),
    )
    
fig = dict( data=flight_paths + airports, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~wannita/0 or inside your plot.ly account where it is named 'd3-flight-paths'

In [19]:
num = int(len(test_pl)/2)
print(num)
test_pl1 = test_pl[:num]
test_pl2 = test_pl[num:]

31

In [45]:
test_pl2.describe()

,acc_id,acc,tweet_id,text,created_time,ex_lat,ex_long,place,lot_sw,lot_ne,lang
count,31,31,31,31,31,31,31,31,31,31,31
unique,24,24,31,31,31,29,29,22,19,19,1
top,255536162,tongongsa,1001633871404896262,"I'm at Assumption Convent School in Bang Rak, ...",2018-05-30 00:11:01,13.78248024,100.4989393,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
freq,6,6,1,1,1,2,2,4,6,6,31

In [24]:
tweets1 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = test_pl1['ex_long'],
        lat = test_pl1['ex_lat'],
        hoverinfo = 'text',
        text = test_pl1['acc'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(100, 255, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
tweets2 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = test_pl2['ex_long'],
        lat = test_pl2['ex_lat'],
        hoverinfo = 'text',
        text = test_pl2['acc'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(255, 100, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
layout = dict(
        title = 'May. 2018 tweet paths<br>(Hover for account name)',
        showlegend = False, 
        geo = dict(
            scope='asia',
            projection=dict( type='equirectangular' ),
            showland = True,
            landcolor = 'rgb(243, 243, 243)', #area
            countrycolor = 'rgb(204, 204, 204)', #border
        ),
    )
    
fig = dict( data=tweets1 + tweets2, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~wannita/0 or inside your plot.ly account where it is named 'd3-flight-paths'

In [25]:
with open('miya_kyoto_tweet','rb') as f:
    tweets_kyoto = pickle.load(f)

In [27]:
tweets_kyoto.describe()

             ex_lat       ex_long
count  81041.000000  81041.000000
mean      35.598192    137.782991
std        2.015959      3.012848
min        5.897995    106.616215
25%       34.857754    135.770967
50%       35.609350    139.383600
75%       35.749925    139.747934
max       45.522873    145.811993

In [28]:
tweets_kyoto.head()

,screen_name,id_user_str,id_str,text,created_at,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,ex_lat,ex_long
11,haru63114,101277873,987345406429401089,深夜の石割桜。\nこの時間だと独り占め☆♪♪\n#岩手 #盛岡 #石割桜 #桜 場所: ...,Fri Apr 20 15:01:03 +0000 2018,None,None,None,ja,39.703763,141.151332
12,Rinachi_180sx,237210836,987345406785933312,"I'm at 大黒PA in 横浜市, 神奈川県 https://t.co/mg5Q2S37gp",Fri Apr 20 15:01:03 +0000 2018,None,None,None,ja,35.461349,139.679822
25,MAKO_PT,130348300,987345418785906689,サイドレイズです。この直後すぐにショルダープレスでした。コンパウンドセットで、しかも事前疲労...,Fri Apr 20 15:01:06 +0000 2018,None,None,None,ja,34.493176,133.412662
28,ISUZU840,401971832,987345426692104192,"I'm at 白キャビンのアジト in 焼津市, 静岡県 https://t.co/NPQd...",Fri Apr 20 15:01:08 +0000 2018,None,None,None,ja,34.815553,138.263429
29,sekaiisan,28710853,987345427144978434,一郎の次は二郎。\n#本日3回目の晩ご飯になります\n#影山一郎さんたちと昭和特撮を語る会の...,Fri Apr 20 15:01:08 +0000 2018,None,None,None,ja,35.696155,139.701855

In [41]:
tweets_kyoto_filter = tweets_kyoto[tweets_kyoto['ex_lat']<35.031461]
tweets_kyoto_filter = tweets_kyoto_filter[tweets_kyoto_filter['ex_lat']>34.931461]
tweets_kyoto_filter = tweets_kyoto_filter[tweets_kyoto_filter['ex_long']<135.785300]
tweets_kyoto_filter = tweets_kyoto_filter[tweets_kyoto_filter['ex_long']>135.685300]
#tweets_kyoto_filter = tweets_kyoto_filter[tweets_kyoto_filter['ex_long']>135.685300]

In [42]:
tweets_kyoto_filter.describe()

            ex_lat      ex_long
count  1229.000000  1229.000000
mean     34.996269   135.755838
std       0.020340     0.017451
min      34.931512   135.686026
25%      34.985126   135.750000
50%      35.000000   135.759047
75%      35.008965   135.768969
max      35.031357   135.785235

In [43]:
tweets1 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = test_pl['ex_long'],
        lat = test_pl['ex_lat'],
        hoverinfo = 'text',
        text = test_pl['acc'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(100, 255, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
tweets2 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = tweets_kyoto_filter['ex_long'],
        lat = tweets_kyoto_filter['ex_lat'],
        hoverinfo = 'text',
        text = tweets_kyoto_filter['screen_name'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(255, 100, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]

layout = dict(
        title = 'May. 2018 tweet paths<br>(Hover for account name)',
        showlegend = False, 
        geo = dict(
            scope='asia',
            projection=dict( type='equirectangular' ),
            showland = True,
            landcolor = 'rgb(243, 243, 243)', #area
            countrycolor = 'rgb(204, 204, 204)', #border
        ),
    )
    
fig = dict( data=tweets1 + tweets2, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~wannita/0 or inside your plot.ly account where it is named 'd3-flight-paths'

In [48]:
test_kyo1 = tweets_kyoto_filter[:31]

In [49]:
test_kyo1.describe()

          ex_lat     ex_long
count  31.000000   31.000000
mean   34.996629  135.752660
std     0.020423    0.017916
min    34.935139  135.709739
25%    34.992742  135.737945
50%    35.000000  135.750000
75%    35.007002  135.770620
max    35.029740  135.780764

In [51]:
test_kyo2 = test_kyo1.rename(columns={"ex_lat":"end_lat", "ex_long":"end_long"})
test_bkk2 = test_pl1.rename(columns={"ex_lat":"start_lat", "ex_long":"start_long"})

In [70]:
test_bkk2.reset_index(inplace=True)
test_kyo2.reset_index(inplace=True)

In [71]:
testy = pd.concat([test_kyo2, test_bkk2], axis=1)

In [72]:
testy.head()

,index,screen_name,id_user_str,id_str,text,created_at,in_reply_to_status_id_str,in_reply_to_user_id_str,in_reply_to_screen_name,lang,...,acc,tweet_id,text,created_time,start_lat,start_long,place,lot_sw,lot_ne,lang
0,84,Grav3h3art,37781812,987345476990140417,Just posted a photo @ Fushimi Inari-taisha htt...,Fri Apr 20 15:01:20 +0000 2018,None,None,None,en,...,devoteraphar,1001468727756574720,"I'm at Police General Hospital in Pathum Wan, ...",2018-05-29 14:22:05,13.74321493,100.53976065,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
1,174,foothat,152113118,987345580211912705,B-TRIBE TV Vol.433内容 放送日2018年4月27日（金曜日）23:30〜...,Fri Apr 20 15:01:44 +0000 2018,None,None,None,ja,...,pirsquareff,1001468964801798145,(@ stronghold boardgame cafe) https://t.co/fk...,2018-05-29 14:23:02,13.74491403,100.53215337,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
2,424,hokkaidotakaday,485864802,987345857795252224,再び登場、 伊根満開。\n\n#hokkaido高田家 #京都日本酒#伊根満開 #伏見桃山#...,Fri Apr 20 15:02:51 +0000 2018,None,None,None,ja,...,_iikoz,1001478237875302401,I'm at stronghold boardgame cafe https://t.co/...,2018-05-29 14:59:53,13.74491403,100.53215337,Pathum Wan,"100.528375, 13.72951","100.541027, 13.749708",en
3,761,nookobass,502795349,987346280891297794,本日のライブおまけ… https://t.co/aF4Mmf3gIz,Fri Apr 20 15:04:32 +0000 2018,None,None,None,ja,...,mmld_m,1001478381899304960,I'm at Butcher Beef &amp; Beer in Bang Kho Lae...,2018-05-29 15:00:27,13.69879091,100.51455979,Bang Khlo,"100.500138, 13.682866","100.531434, 13.704877",en
4,999,08_junya,1342004600,987346578821320704,#侘家洛中亭\n#串カツ &amp;#ワイン\n#先斗町\n美味すぎた、お酒が進む\n#DE...,Fri Apr 20 15:05:43 +0000 2018,None,None,None,ja,...,NaShiOkTaec,1001480031032442880,I'm at Asiatique The Riverfront in Bang Kho La...,2018-05-29 15:07:00,13.70411744,100.50334978,Wat Phraya Krai,"100.49835, 13.697991","100.516901, 13.712301",en

In [73]:
testy.describe()

              index    end_lat    end_long        index
count     31.000000  31.000000   31.000000    31.000000
mean    5279.322581  34.996629  135.752660  1302.032258
std     4022.193824   0.020423    0.017916   801.776298
min       84.000000  34.935139  135.709739     4.000000
25%     1847.500000  34.992742  135.737945   418.000000
50%     4022.000000  35.000000  135.750000  1581.000000
75%     8900.500000  35.007002  135.770620  2049.500000
max    12337.000000  35.029740  135.780764  2161.000000

In [76]:
tweets1 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = test_pl['ex_long'],
        lat = test_pl['ex_lat'],
        hoverinfo = 'text',
        text = test_pl['acc'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(100, 255, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
tweets2 = [ dict(
        type = 'scattergeo',
        locationmode = 'THA',
        lon = tweets_kyoto_filter['ex_long'],
        lat = tweets_kyoto_filter['ex_lat'],
        hoverinfo = 'text',
        text = tweets_kyoto_filter['screen_name'],
        mode = 'markers',
        marker = dict( 
            size=3, 
            color='rgb(255, 100, 100)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]

tweets_paths = []
for i in range( len( testy ) ):
    tweets_paths.append(
        dict(
            type = 'scattergeo',
            locationmode = 'asia',
            lon = [ testy['start_long'][i], testy['end_long'][i] ],
            lat = [ testy['start_lat'][i], testy['end_lat'][i] ],
            mode = 'lines',
            line = dict(
                width = 1,
                color = 'green',
            ),
            opacity = float(testy['id_user_str'][i])/float(testy['tweet_id'].max()),
        )
    )

layout = dict(
        title = 'May. 2018 tweet paths<br>(Hover for account name)',
        showlegend = False, 
        geo = dict(
            scope='asia',
            projection=dict( type='equirectangular' ),
            showland = True,
            landcolor = 'rgb(243, 243, 243)', #area
            countrycolor = 'rgb(204, 204, 204)', #border
        ),
    )
    
fig = dict( data=tweets1 + tweets2 + tweets_paths, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~wannita/0 or inside your plot.ly account where it is named 'd3-flight-paths'